/Progra2-Servidor/target/
/Progra2-Salon/target/
/progra2_salon/nbproject/private/
/progra2_servidor/nbproject/private/
/progra2_cocina/nbproject/private/
/progra2_simulador/nbproject/private/
/progra2_servidor/dist/
/progra2_servidor/build/
/progra2_salon/build/
/progra2_cocina/build/
/progra2_simulador/build/
